body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.navbar {
  height: 4rem;
  background-color: white;
}

.fa-brands {
  color: #222;
  font-size: 2rem;
  transition: color 0.3s;
}

.fa-brands:hover {
  color: #0e3a91;
}

.nav-link {
  color: #222 !important;
  font-size: 1.5rem;
}

.f-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 8rem;
  color: #222;
  text-align: center;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.f-info-links a {
  text-decoration: none;
  color: #222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
/* card */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-links {
  text-decoration: none !important;
}
/* card effect */
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.1 !important;
  background-color: rgb(255, 255, 255) !important;
}
footer {
  background-color: #eaeaea; /* halki grey */
  padding: 20px; /* thoda spacing */
  text-align: center; /* text center me */
}
.btn-color {
  background-color: #dc852e;
  border: none;
}
/* show-page-img */
.show-img {
  height: 30vh;
}
.btns {
  display: flex;
  margin-bottom: 2rem;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}
.show-card img {
  width: 100%;
  height: 350px; /* fix ek height for uniform look */
  object-fit: cover; /* crop to maintain ratio */
  object-position: center;
  image-orientation: from-image; /* handle EXIF orientation */
  border-radius: 8px;
}
